body {
    background: lightcyan;
}
label {
    border: 
        dotted 4px white;
    padding: 
        1em;
    display:
        inline-block;
    margin-bottom:
        1em; 
}

label input {
    margin-left:
        1em;
}